<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RefDataArray</key>
	<array>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref0.PNG</string>
			<key>Style</key>
			<string>Sports</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref1.PNG</string>
			<key>Style</key>
			<string>Party</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref2.PNG</string>
			<key>Style</key>
			<string>Sports</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref3.PNG</string>
			<key>Style</key>
			<string>Sports</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref4.PNG</string>
			<key>Style</key>
			<string>Party</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref5.PNG</string>
			<key>Style</key>
			<string>Party</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref6.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref7.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref8.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref9.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref10.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref11.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref12.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref13.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref14.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref15.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref16.PNG</string>
			<key>Style</key>
			<string>Relax</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref17.PNG</string>
			<key>Style</key>
			<string>Relax</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref18.PNG</string>
			<key>Style</key>
			<string>Relax</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref19.PNG</string>
			<key>Style</key>
			<string>Relax</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref20.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref21.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref22.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref23.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref24.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref25.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref26.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
		<dict>
			<key>description</key>
			<string>来自channel的简约，大方</string>
			<key>image</key>
			<string>ref27.PNG</string>
			<key>Style</key>
			<string>Business</string>
		</dict>
	</array>
</dict>
</plist>
